@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}
body {
	background-image:
		radial-gradient(at 17% 90%, rgba(var(--color-primary-700) / 0.13) 0px, transparent 50%),
		radial-gradient(at 93% 90%, rgba(var(--color-primary-700) / 0.13) 0px, transparent 50%);

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
